[tool.poetry]
name = "ha-mqtt-discoverable"
version = "0.5.1"
description = ""
authors = ["Joe Block <jpb@unixorn.net>"]
readme = "README.md"
packages = [{include = "ha_mqtt_discoverable"}]

[tool.poetry.dependencies]
python = ">=3.10.0,<4.0"
pyaml = "^21.10.1"
paho-mqtt = "^1.6.1"
gitlike-commands = "^0.2.1"
thelogrus = "^0.7.0"
pydantic = "^1.10.5"


[tool.poetry.group.dev.dependencies]
flake8 = "^5.0.4"
black = "^22.10.0"
pre-commit = "^3.1.0"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
hmd = 'ha_mqtt_discoverable.cli.main_driver:hmd_driver'
hmd-create-binary-sensor = 'ha_mqtt_discoverable.cli.sensor_driver:create_binary_sensor'
hmd-create-device = 'ha_mqtt_discoverable.cli.device_driver:create_device'
hmd-version = 'ha_mqtt_discoverable.cli:module_version'
