[project]
name = "ha-mqtt-discoverable"
version = "0.22.1"
description = "Python library for creating MQTT entities compatible with Home Assistant"
authors = [{name = "Joe Block", email = "jpb@unixorn.net"}]
readme = "README.md"
requires-python = ">=3.10.0,<4.0"
dependencies = [
    "pyaml==25.7.0",
    "paho-mqtt==2.1.0",
    "gitlike-commands (>=0.2.1,<0.4.0)",
    "pydantic==2.12.4",
]


[tool.poetry]
packages = [{include = "ha_mqtt_discoverable"}]


[tool.poetry.group.dev.dependencies]
pre-commit = "^4.3.0"
ruff = "^0.14.4"


[tool.poetry.group.test.dependencies]
coverage = "^7.11.0"
pytest = "^8.4.2"
pytest-mock = "^3.10.0"


[build-system]
requires = ["poetry-core>=2.2.1"]
build-backend = "poetry.core.masonry.api"
