---
###########################
###########################
## Linter GitHub Actions ##
###########################
###########################
name: Lint Code Base

#
# Documentation:
# https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions
#

permissions:
  issues: write
  pull-requests: write

#############################
# Start the job on all push #
#############################
on: # yamllint disable-line rule:truthy
  push:
    branches-ignore: [main]
    # Remove the line above to run when pushing to main
  pull_request:
    branches: [main]

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Megalint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files
          # within `mega-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: oxsecurity/megalinter/flavors/python@v8
        env:
          DOCKERFILE_HADOLINT_DISABLE_ERRORS: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PAT: ${{secrets.PAT}}
          REPOSITORY_GITLEAKS_PR_COMMITS_SCAN: true
          VALIDATE_ALL_CODEBASE: false

      # Upload Mega-Linter artifacts.
      # They will be available on GitHub action page "Artifacts" section
      - name: Archive production artifacts
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v4
        env:
          PAT: ${{secrets.PAT}}
        with:
          name: Mega-Linter reports
          path: |
            megalinter-reports
            mega-linter.log
